@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}
li, p, h1, h2, h3, h4{
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    margin: 20px 60px;
}
 li, p, h1, h2, h3, h4::first-line{
 margin: 5px 70px;   
}
a{
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: rgb(145, 101, 35);
}
img{
    height: 286px;
    padding: 5px 20px;
}
h1{
    padding: 20px 0px 0px;
    text-align: center;
}
.comment{
        text-align: center;

}
.link{
    text-align: center;
    height: 50px;
}
p.link{
    padding-top: 55px;
    color:rgb(65, 43, 10);
}
